* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  background-color: #f9f5e7;
}

img.logo {
  display: block;
  max-width: 100%;
}
ul {
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 1;
  list-style: none;
  padding: 0;
  width: 100%;
  background-color: #f8ead8;
  max-width: 100%;
}
li.right {
  grid-column-start: 10;
  grid-column-end: 12;
  padding-right: 0;
  padding-left: 75%;
  background-color: #f8ead8;
}
li.left {
  background-color: #f8ead8;
}
div.label {
  background-color: #f8ead8;
  margin-top: 30px;
}
.image-container {
  display: flex;
  overflow: hidden;
  max-width: 100%;
}
.image-container .blocks {
  width: 30%;
  padding: 2vh;
  transition: 0.5s all ease-in-out;
}

.image-container .blocks:hover {
  opacity: 60%;
  transform: scale(1.1);
}
.blocks {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f8ead8;
}
.blocks:hover .overlay {
  opacity: 0.85;
}
.imagedescription {
  color: rgb(61, 27, 1);
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f8ead8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sdescription {
  padding-top: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .image-container,
  .services,
  .ending,
  .copyrights {
    max-width: 100%;
  }
}
.services {
  display: flex;
  justify-content: right;
  max-width: 100%;
}
.services img {
  width: 30vw;
  height: auto;
  max-width: 100%;
}
.sblocks:hover img {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transition: 0.4s ease;
  filter: blur(2px);
}
.ending p {
  background-color: #f8ead8;
  text-align: center;
  padding: 3vh;
  image-resolution: 250px;
}

@keyframes move-words {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-10px);
  }
}
.words {
  display: inline-block;
  animation: move-words 0.5s ease forwards;
  max-width: 100%;
  margin: 0;
}
.midway {
  overflow: hidden;
  width: 100%;
}
.midway > * {
  display: inline-block;
  position: relative;
  animation: 2s linear 0s infinite alternate move;
}

@keyframes move {
  0%,
  25% {
    transform: translateX(0%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}
.midway span {
  font-weight: bold;
  color: #4d2c01;
}
.socials {
  text-align: center;
  font-weight: 600;
  width: 94%;
  padding: 5vh;
  max-width: 100%;
}
.socials li {
  padding: 2vh;
  margin: 1vh;
}
.ig:hover {
  border: 2px solid #4f3f2b;
}
.copyrights {
  text-align: center;
  font-weight: bold;
  padding: 7px;
  max-width: 100%;
  text-decoration: underline;
}
